<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Phone Book</title>
    <h:outputStylesheet library="css" name="style.css"/>
</h:head>
<h:body>
    <h2>Phone Book table</h2>


    <h:form>
        <p:commandButton value="Add new" type="button" action="#{phoneBookBean.showNewItemDialog}">
            <f:ajax execute="@form" render="result"/>
        </p:commandButton>
    </h:form>


    <h:dataTable value="#{phoneBookBean.fetchPhoneBookDetails()}" var="model"
                 styleClass="employeeTable"
                 rowKeyVar="index"
                 varStatus="status"
                 id="table"
                 headerClass="employeeTableHeader"
                 rowClasses="employeeTableOddRow,employeeTableEvenRow">
        <h:column>
            <f:facet name="header">Name</f:facet>
            #{model.firstName}
        </h:column>

        <h:column>
            <f:facet name="header">Lastname</f:facet>
            #{model.lastName}
        </h:column>

        <h:column>
            <f:facet name="header">Phone</f:facet>
            #{model.phone}
        </h:column>

        <h:column>
            <h:form>
                <h:commandButton action="#{phoneBookBean.showEditeItemDialog(model)}"
                                 value="Edite"
                                 type="submit">
                </h:commandButton>
            </h:form>
        </h:column>

        <h:column>
            <h:form>
                <h:commandButton actionListener="#{phoneBookBean.remove(model)}" value="Remove"/>
            </h:form>
        </h:column>
    </h:dataTable>

    <p:dialog header="Modify" widgetVar="dlgUpdate">
        <h:form>
            <h:panelGrid id="form2">
                <p:outputLabel value="Firstname :"/>
                <p:inputText value="#{phoneBookBean.editedModel.firstName}" required="true"/>
                <p:outputLabel value="Lastname :"/>
                <p:inputText value="#{phoneBookBean.editedModel.lastName}" required="true"/>
                <p:outputLabel value="Phone :"/>
                <p:inputText id="phone"
                             value="#{phoneBookBean.editedModel.phone}"
                             required="true"
                             requiredMessage="The field is empty"
                             validatorMessage="Wrong phone (eg.: 0734217457)">
                    <f:validateRegex pattern="^\(?([0-9]{3})\)?[-.\s]?([0-9]{3})[-.\s]?([0-9]{4})$"/>
                </p:inputText>
                <p:growl id="growl" sticky="true" showDetail="true" life="3000"/>
                <p:commandButton value="Submit"
                                 update="growl"
                                 action="#{phoneBookBean.update}">
                    <f:ajax execute="@form" render="result"/>
                </p:commandButton>

            </h:panelGrid>
        </h:form>
    </p:dialog>

    <p:dialog header="New item" widgetVar="dlgNew" id="dlgNew">
        <p:ajax event="close" update="dlgNew"/>
        <h:form>
            <p:growl showDetail="true"/>
            <h:panelGrid>
                <p:outputLabel value="Firstname :"/>
                <p:inputText value="#{PBDialogNewBean.firstName}"/>
                <p:outputLabel value="Lastname :"/>
                <p:inputText value="#{PBDialogNewBean.lastName}"/>
                <p:outputLabel value="Phone :"/>
                <p:inputText
                             value="#{PBDialogNewBean.phone}"
                             required="true"
                             requiredMessage="The field is empty"
                             validatorMessage="Wrong phone (eg.: 0734217457)">
                    <f:validateRegex pattern="^\(?([0-9]{3})\)?[-.\s]?([0-9]{3})[-.\s]?([0-9]{4})$"/>
                </p:inputText>
                <p:growl id="growlNew" sticky="true" showDetail="true" life="3000"/>
                <p:commandButton value="Submit"
                                 update="growlNew"
                                 action="#{phoneBookBean.add(PBDialogNewBean)}">
                    <f:ajax execute="@form" render="result"/>
                </p:commandButton>

            </h:panelGrid>
        </h:form>
    </p:dialog>
</h:body>
<script type="text/javascript">
    function handleLoginRequest(xhr, status, args) {
        if (args.validationFailed || !args.loggedIn) {
            PF('dlg').jq.effect("shake", {times: 5}, 100);
        }
        else {
            PF('dlg').hide();
            $('#loginLink').fadeOut();
        }
    }
</script>
</html>

